<form method="POST"> 
  {{!-- action là điều hướng sang trang khác --}}
  <div class="mb-3">
    <label for="search-input" class="form-label">Tìm kiếm</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa...">
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm</button>
</form>

